@model Department
@{
    ViewData["Title"] = "Create";
}


<div class="container">

    <h2>Create</h2>
    <form asp-controller="Department" asp-action="Create" method="Post">

        <div class="form-border">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="DepartmentName" class="Control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="DepartmentName" class="form-control" />
                </div>
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>

            <div class="row">
                <input type="submit" value="Create" />
            </div>

        </div>

    </form>
</div>




