@model  IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}

<h2>List of Deparments</h2>

<a  asp-controller="Department" asp-action="Create">Add New Department </a>

<div class="Container">
    <div class="from-border">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => x.DepartmentId)</th>
                <th>@Html.DisplayNameFor(x => x.DepartmentName)</th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.DepartmentId
                    </td>
                    <td>
                        @item.DepartmentName
                    </td>
                </tr>

            }
        </table>
    </div>
    
</div>