@model Employee
@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {

        $.ajax({

            url: '/Employee/GetSelectDepartment',
            datatype: 'GET',
            datatype: 'json',
            success: function (data) {
                var items = '';
                $("#DepartmentId").empty();
                $.each(data, function (i, department) {
                    items += "<option value='" + department.value + "'>" + department.text + "</option>";
                });

                $('#DepartmentId').html(items);
            }
        });
    });

</script>



<div class="Container">

    <h2>Add Employee </h2>

    @*adding enctype="multipart/form-data" for uploading Image*@

    <form asp-action="Create" method="Post" enctype="multipart/form-data">



        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Title"></label>
            </div>

            <div class="col-8">
                <select asp-for="Title" asp-items="Html.GetEnumSelectList<Employee.ETitle>()"></select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmployeeFirstName"></label>
            </div>

            <div class="col-8">
                <input type="text" asp-for="EmployeeFirstName" />
            </div>
            <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmployeeLastName"></label>
            </div>

            <div class="col-8">
                <input type="text" asp-for="EmployeeLastName" />
            </div>
            <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="departmentsDropdown" class="custom-label"><b>Departments</b></label>

            </div>

            <div class="col-4">
                <select id="DepartmentId" name="DepartmentId" asp-for="DepartmentId"
                 asp-items="@(new SelectList(string.Empty,"DepartmentId", "DepartmentName"))"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Salary"></label>
            </div>

            <div class="col-8">
                <input type="text" asp-for="Salary" />
            </div>
            <span asp-validation-for="Salary" class="text-danger"></span>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="HireDate"></label>
            </div>

            <div class="col-8">
                <input type="date" asp-for="HireDate" />
            </div>
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Picture" class="custom-label"></label>
            </div>
            <div class="col-8">
                <input type="file" id="projectImage" name="files" multiple />
            </div>
        </div>

        <input type="submit" value="Create" />

    </form>
</div>





